#main-content{
    margin-top: 6rem;
}

.page-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.content-title{
    font-size: calc(1.0rem + .6vw);
}

.page-subtitle{
    font-size: 1.2rem;
}

.page-abstract,
.content-abstract{
    font-size: 0.875rem;
}

.content-header{
    margin-bottom: 1.6rem;
}

FOOTER{
    margin-top: 2rem;
    border-top: solid 1px;
    border-top-color: var(--bs-secondary);
    padding-top: 1rem;
    font-size: 0.7rem;
    padding-bottom: 6rem;
}

TD.align-right,
TH.align-right{
    text-align: right;
}

TD.align-center,
TH.align-center{
    text-align: center;
}

.btn.btn-xs{
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .3rem;
    --bs-btn-font-size: .55rem;
}