<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd">
    <testsuites>
        <testsuite name="X4 Core tests">
            <directory suffix=".php">./tests/X4Tests/Suites</directory>
        </testsuite>
    </testsuites>
</phpunit>